@import url('https://fonts.googleapis.com/css?family=Oswald');

/*i have changed the color of my head*/
head {
    color:#306c61;
}

body {
    font-family:"Oswald";
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
}
.content {
    background-color: #f7eef5;
    padding: 4%;
}
/*all of this is my navbar*/
nav {
    
    background-color: #110f0f87;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}


nav li {
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.search-icon {
    width: auto;
    height: 30px;
    margin-top: 9px;
}

nav a {
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.begonia-nav{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    width: auto;
    height: inherit;
}

.begonia-nav-nav{
    color:#306c61;
    font-size: 30px;
    margin-left: 0.5rem;
}

nav a:hover {
    background-color: #f0f0f0;
}

.planteliv {
    color:#306c61;
    font-size: 30px;
    margin-left: 0.5rem;
    width: auto;
    height: inherit;
}

.logo{
    height: 100%;
    padding: 0 !important;
    color: black;
    margin-left: -2rem;
  }
/*end of navbar*/

/*this is where my heads and paragraphs is*/
.gode-tips {
    color:#306c61;
    font-size: 70px;
}

.row-content {
    display: flex;
}
  

  .column{
    text-wrap: wrap;
    width: 40%;
}

.space-content {
    width:20%;
}

.row-space{
    height: 20%;
}

  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
  }
  
