@import url('https://fonts.googleapis.com/css?family=Oswald');

head {
    color: #306c61;
}

body {
    font-family: "Oswald";
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.content {
    background-color: #f7eef5;
    padding: 4%;
}

.basis-viden {
    color: #306c61;
    font-size: 70px;
}
/*all of this is my navbar*/
nav {

    background-color: #110f0f87;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}


nav li {
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.search-icon{
    width: auto;
    height: 30px;
    margin-top: 9px;
}

nav a {
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.begonia-nav {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;

    color: #306c61;
    font-size: 30px;
    margin-left: 0.5rem;
}

nav a:hover {
    background-color: #f0f0f0;
}

.planteliv {
    color:#306c61;
    font-size: 30px;
    margin-left: 0.5rem;
    width: auto;
    height: inherit;
}

.logo {
    height: 100%;
    padding: 0 !important;
    color: black;
    margin-left: -2rem;
}
.search-icon {
    width: auto;
    height: 30px;
    margin-top: 9px;
}
/*end of navbar*/

/*this is the paragraphs*/
.row {
    display: flex;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;

}

.col-content{
    text-wrap: wrap;
    width: 40%;
}

.col-space{
    width: 20%;
}
